@import-normalize;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* typo */
  --family: "Montserrat", sans-serif;
  --fz-small: 13px;
  --fz-normal: 14px;
  --fz-accent: 16px;
  --fw-normal: 400;
  --fw-strong: 500;
  --fw-bold: 700;
  --lh: 24px;

  /* colors */
  --main-color: #111;
  --main-color-light: rgba(17, 17, 17, 0.48);
  --accent-color: #01a7fd;
  --accent-color-hover: #0f79af;
  --white: #fff;
  --gray: #fafafa;
  --bg-color: var(--white);
  --bg-color-footer: var(--gray);
  --input-border-color: #f1f1f1;

  /* buttons colors */

  --primary-hover: var(--accent-color-hover);
  --primary-active: #59c79f;
  --primary-focus-border: 2px solid var(--main-color-light);
  --secondary-hover: rgba(110, 65, 226, 0.04);
  --secondary-active: rgba(110, 65, 226, 0.16);
  --secondary-focus-border: 2px solid var(--main-color-light);

  /* shadow */
  --shadow: 0 1px 0 rgba(17, 17, 17, 0.1);
  --input-hover-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 30px rgba(51, 51, 51, 0.16);

  /* others */
  --container-width: 1396px;
  --b-radius-button: 100px;
  --b-radius-input: 4px;
  --button-bgi: linear-gradient(to right, #abc4e8 0%, #c2e9fb 51%, #abc4e8 100%);
  --button-bgi-danger: linear-gradient(to right, #da9682 0%, #ecdede 51%, #da9682 100%);
  --inputBgColor: var(--grey);
  --inputFocusColor: var(--accentColor);
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--family);
  font-weight: var(--fw-normal);
  font-size: var(--fz-normal);
  line-height: var(--lh);
  color: var(--main-color);
}

#root {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  outline: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

input {
  outline: transparent;
  font-family: inherit;
  font-size: var(--fz-normal);
  color: var(--main-color);
}

@media (max-width: 564px) {
  :root {
    --fz-small: 11px;
    --fz-normal: 12px;
    --fz-accent: 14px;
  }
}
